<p style="text-align: center">
  <mat-form-field>
    <input matInput type="text" placeholder="Search Movies" [(ngModel)]="query"><!-- binding value of input to var: showName to make it accessible to my service as an argument to fetch the API-->
    <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''"><!-- clear value on click event if (*NgIf) value is not empty -->
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-flat-button color="accent" (click)="onSubmit()"><mat-icon>search</mat-icon></button>
</p>
